* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Spline+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Navigation bar  */
header {
  background-color: rgb(228, 228, 228);
  padding: 20px;
}
nav ul {
  display: flex;
}
nav ul li {
  display: flex;
  list-style: none;
  margin-right: 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

/* ====================== Home section  */
main {
  max-width: 1280px;
  margin: 0 auto;
}
#home {
  display: flex;
}
.home-intro {
  font-family: "Raleway", sans-serif;
}
.home-intro h1 {
  font-size: 2rem;
}
.home-image {
  border: 1px solid;
}

/* FOOTER SECTION STYLE  */

footer {
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100px;
  background-color: black;
}
